@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

a {
  text-decoration: none;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

.cbt_login_container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-color: #fafafa;
}
.cbt_login_container .cbt_login_banner{
  width: 50%;
  background-image: url(/images/bg/login.jpg);
  background-size: cover;
}


.cbt_login_form_container{
  width: 50%;
}
.cbt_login_form_container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.cbt_login_form_container form *{
  text-align: center;
}

.cbt_login_form_container form p{
  margin: 1rem 0;
  color: #444;
}

.cbt_login_form_container form h1{
  color: rgb(182, 15, 107); 
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
} 

.instructions_container{
  width: 100;
  min-height: 100vh;
  display: flex;
}

.instructions_content{
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.instructions_content h1{
  font-size: 3rem;
  color:rgb(182, 15, 107);
  margin-bottom: 3rem;
}

.instructions_content ol, .instructions_content p{
  margin-top: 1rem;
  color: #333;
}

.instructions_content ol li{
  margin-top: .5rem;
}

.instructions_banner{
  width: 50%;
  background-size: cover;
  background-image: url('../../public/images/bg/login.jpg'); 
}

.test_bio_container{
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding: 1rem;
}

.test_bio_container p{
  color: #555555;
  line-height: 1.5;;
}
.test_bio_container h3{
  color: #c51330;
  line-height: 2.5;
}

.dashboard_header_container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.dashboard_header_brand{
  width: 30%;
}

.dashboard_header_navigator{
  width: 70%;
  text-align: right;
}

.dashboard_header_navigator p{
  display: inline-block;
  line-height: 40px;
}

.dashboard_header_initial{
  display: inline-block;
  background-color: rgb(5, 22, 100);
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border-radius: 50%;
  text-align: center !important;
  margin-right: 1rem;
}

.dashboard_header_initial span{
  font-size: 1.5rem;
  line-height: 40px;
}

.dashboard_header_container .dashboard_header_brand > div{
  display: inline-block;
}

.dashboard_sidebar{
  width: 200px;
  background-color: #2196f3;
  min-height: 90vh;
  margin: 1rem;
  border-radius: 20px;
  /* padding: 1rem; */
  position: absolute;
}

.dashboard_sidebar_top{
  padding: 1rem;

}

.dashboard_sidebar_top h3{
  color:#333;
  line-height: 2;
  text-align: center;
}

.dashboard_sidebar_top img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: 1px solid white;
}

.dashboard_sidebar_links svg{
  height: 15px;
}
.dashboard_sidebar_links ul{
  display: block;
}

.dashboard_sidebar_links ul li{
  padding: .5rem;
  list-style: none;
  margin: .5rem 0;
}

.dashboard_sidebar_links ul li a{
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.dashboard_sidebar_links ul li.active{
  padding: .5rem;
  border-radius: 0px 20px 20px 0px;
  background-color: #fff;
  border-color:#051664;
  /* border: 1px solid #051664; */
  border-left: 0;
  width: 90%;
}

.dashboard_sidebar_links ul li.active a {
  color:#2196f3;
}

.dashboard_sidebar_logout{
  position: absolute;
  display: block;
  bottom: 1rem;
  margin: 0 auto;
  width: 100%;
}

.dashboard_sidebar_logout button{
  margin: 0 auto;
  width: 80%;
  background-color: #c51330;
  display: block;
  border: 0;
  border-radius: 20px;
  padding: .5rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.dashboard_content{
  margin-top: 3rem;
  margin-left: 250px ;
  min-height: 70vh;
  overflow-y: scroll;
  max-width: 75vw;
}

.dashboard_title{
  color:rgb(5, 22, 100);
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}

.test_nav_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;


}

.test_nav_container ul{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.test_nav_container ul li{
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #a8a6a7;
  color: #c51330;
  text-align: center;
  line-height: 30px;
}

.test_nav_container ul li.active{
  background-color: #c51330;
  color: #fff;
  border-color: #f9f9f9;;
}

th button{
  padding: 0 !important;
  text-align: left !important;
}